extends _page

block head
    title Help Desk Stand
    script window.urlPrefix = 'http://' + location.hostname + ':8080/blog/api'

block body
    blog_app
    script(src="js/main.js", type="text/javascript")
