<div class="blog-posts">

	<div class="single-post">
		<div class="image-wrapper"><img src="images/blog-1-1000x600.jpg" alt="Blog Image"></div>

		<div class="icons">
			<div class="left-area">
				<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
			</div>
			<ul class="right-area social-icons">
				<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
				<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
				<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
			</ul>
		</div>
		<p class="date"><em>Monday, October 13, 2017</em></p>
		<h3 class="title"><a href="#"><b class="light-color">This is post about travel, adventure and fun</b></a></h3>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
			laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
			architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
			consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
			dolore magnam aliquam quaerat voluptatem.</p>
		<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
	</div><!-- single-post -->


</div><!-- blog-posts -->